:root {
  --dec-color: pink;
}

*{
  /* normalize */
  margin: 0.5em;
  
}

body {
  
  color: black;
  
  height: 100%;
  margin: 1em 5vw;
  display: flex;
  flex-flow: row wrap;
  /* horiz center */
  justify-content: center;
  /* vert center */
  align-items: center;
  /* viewport height */
  height: 100vh;
  
  font-family: 'Trebuchet MS', Tahoma, sans-serif;
  
  mix-blend-mode: color-burn;
  
  /*
  background: radial-gradient(circle at 150% 50%, 
    var(--dec-color) 1%,
    transparent 100%
  );
  */

}

p::first-letter {
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
  background: var(--dec-color);
  padding: 0 0 0 1em;
  margin: 0;
}
