:root {
  /* https://www.canva.com/colors/color-wheel/ */
  
  --zeroeth-color: #040A7B;
  --first-color: #F7088C;
  --second-color: #EB2114;
  --third-color: #08F773;
}

*{
  /* normalize */
  margin: 0;
  padding: 0;
  
}

body {
  
  color: var(--zeroeth-color);
  
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  /* horiz center */
  justify-content: center;
  /* vert center */
  align-items: center;
  /* viewport height */
  height: 100vh;
  
  font-family: 'Trebuchet MS', Tahoma, sans-serif;
  
  /*
  mix-blend-mode: color-burn;
  */
  
  /*
  background: radial-gradient(circle at 150% 50%, 
    var(--first-color) 1%,
    transparent 100%
  );
  */

}

h1, p {
  margin: 1em;
}

p::first-letter {
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  background: var(--first-color);
  
  background: radial-gradient(circle at 150% 50%, 
    var(--first-color) 1%,
    transparent 100%
  );
  
  padding: 0 0 0 1em;
  margin: 0;
}

p a {
  font-family: "Courier New", "Lucida Console", monospace;
  padding: 0;
}

a, a:visited {
  color: #e642f5;
}

::selection{
  background: var(--second-color);
  color: var(--third-color);
}

span {
  text-decoration: underline;
}
